{% extends "blog/base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
    <h2> Login </h2>
    <a href="{% url 'signup' %}"  class="btn btn-link btn-lg active btn-block">SignUp</a>
    {% if google_oauth_enabled %}
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-link btn-lg active btn-block">Log In with Google</a>
    {% endif %}
    {% if vk_oauth_enabled %}
        <a href="{% url 'social:begin' 'vk-oauth2' %}"  class="btn btn-link btn-lg active btn-block"> Login in with VK</a>
    {% endif %}
    <form method="post" class="form">
        {{ form.username }}
        {{ form.password }}
        <div class="mb-1">Remember me: {{ form.remember_me }}</div>
        {% csrf_token %}
        <input type="submit" class="btn btn-primary btn-lg" value="Login">
    </form>
   <a href="{% url 'password_reset' %}">Reset Password</a>
{% endblock %}
